


body{
    font-family: 'consolas', "microsoft yahei" !important;
}

a {
    text-decoration: none !important;
}


.bar-violet {
    background-color: #e94de9 !important;
    color: white;
}
