
    <ion-view>
        <ion-slide-box show-pager='true' class='slide-box' ng-hide='start.code'>

            <ion-slide>
                <img src="../../img/logo_tm.png"/>
                <div>我的云笔记</div>
            </ion-slide>

            <ion-slide>
                <img src="../../img/logo_tm.png" />
                <div>我的云笔记</div>
            </ion-slide>

            <ion-slide>
                <img src="../../img/logo_tm.png" />
                <div>我的云笔记</div>

                <div class="box-sign">
                    <div class="row">
                        <button
                            class="btn col"
                            ui-sref='sign-in'
                            >登录
                        </button>
                        <button
                            class="btn col"
                            ui-sref='sign-up'
                            >注册
                        </button>
                    </div>
                </div>
            </ion-slide>

        </ion-slide-box>
    </ion-view>