
    <ion-view>

        <ion-content has-bouncing='true'>

            <section class="sign-up-success">
                <i class="ion-checkmark icon-red"></i>
                <div>注册成功</div>
                <div class="data">
                    <div class="title">你的注册信息</div>
                    <div class="data-list">
                        <div class="accout">账号：<span>Lizhooh</span></div>
                        <div class="password">密码：<span>123456789</span></div>
                        <div class="email">邮箱：<span>123456@qq.com</span></div>
                    </div>
                    <div class="go">
                        <button class="btn" ui-sref='sign-in'>立即登录</button>
                    </div>
                </div>
            </section>

        </ion-content>

    </ion-view>

