
    <ion-view view-title='我的云笔记' ng-controller="Sign">

        <!--<ion-header-bar class='bar-violet'>
            <div class="title">我的云笔记</div>
        </ion-header-bar>-->

        <ion-content has-bouncing='false' class='has-header'>
            <section class="sign">
                <div class="logo">
                    <img src="../../img/logo_tm.png"/>
                    <div>我的云笔记</div>
                </div>

                <!-- view -->
                <ion-nav-view></ion-nav-view>
                <!--<div class="list sign-in">
                    <div class="item item-input">
                        <input type="text" placeholder="账号或邮箱"/>
                    </div>
                    <div class="item item-input">
                        <input type="password" placeholder="密码"/>
                    </div>
                    <div class="item" style="border: none;padding: 0 10px;">
                        <label style="float: left;"><a href="">忘记密码</a></label>
                        <label style="float: right;"><a href="">注册</a></label>
                    </div>

                    <div class="btn">
                        <button>登录</button>
                    </div>
                </div>-->
            </section>
        </ion-content>

    </ion-view>
